# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\develop\go_backend\myaktion-go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
